body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    font-style: italic;
    text-decoration: teal;
}

p {
    text-align: center;
    line-height: 2em;
    font-size: 3em;
    font-weight: 600px;
}

ul {
    background-color: aquamarine;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: maroon;
}

.bg_blue {
    background-color: blue;
}


    <!-- Exercícios
    1 - Modifique o tamanho do h1 para 65 pixels
    2 - Modifique a cor do texto do h1 para laranja
    3 - Modifique a cor de fundo da lista não ordenada
    4 - Crie uma classe para modificar a cor de fundo da tag p e da ul ao mesmo tempo
   -->