body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    font-style: italic;
    text-decoration: teal;
}

p {
    text-align: center;
    line-height: 2em;
    font-size: 3em;
    font-weight: 600px;
}

ul {
    background-color: aquamarine;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: maroon;
}

.bg_blue {
    background-color: blue;
}