* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Inicio */

body {
  background-color: #e9f5e6;
  color: #70756e;
}

#cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202426;
}

#cabecalho h1 {
  font-size: 1.7em;
  padding: 1em 2em 1em 1em;
  color: #f2f2f2;
}

#cabecalho nav {
  width: 30%;
  padding: 2.1em 2em 1em 1em;
}

#cabecalho nav ul {
  display: flex;
  justify-content: space-between;
}

#cabecalho nav ul a {
  text-decoration: none;
  color: #9da65d;
  font-weight: bolder;
  list-style-type: none;
  font-size: 1.3em;
}

#cabecalho nav ul a:hover {
  color: #6c733d;
}

body {
  background-color: #202426;
}

main {
  color: #202426;
}

#banner {
  width: 100%;
  background: url(images/stomatopoda.jpg);
  background-size: cover;
  height: 350px;
  background-position-x: left;
  background-position-y: 70%;
}

h2 {
  text-align: center;
  font-size: 2em;
  padding: 0.8em;
  background-color: #9da65d;
  margin-bottom: 1em;
  text-shadow: 2px 2px #6c733d;
}

#principal {
  display: flex;
  justify-content: space-around;
}

#vision,
#curiosity {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

#vision h3,
#curiosity h3,
#videos h3 {
  text-align: center;
  font-size: x-large;
  color: #f2f2f2;
}

#vision p,
#curiosity p {
  padding: 1em;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #f2f2f2;
  text-align: justify;
  text-indent: 2em;
  max-width: 1000px;
}

#vision img {
  width: 100%;
  padding: 0.5em;
  max-width: 1000px;
  align-self: center;
}

#asides {
    width: 30%;
}

#about,
#references {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0em 1em 0 1em;
  color: #f2f2f2;
}

#about h3,
#references h3 {
  display: flex;
  text-align: center;
  padding-bottom: 0.5em;
  line-height: 1.5em;
  font-size: 1.5em;
  border-bottom: 1px solid #8c8c88;
}

#about ul {
  width: 100%;
}

#about li {
  list-style-type: none;
  text-align: justify;
  border-bottom: 1px solid #8c8c88;
  padding: 0.5em;
}

.bold {
  color: #9da65d;
  font-weight: bolder;
}

#references h3 {
  font-size: 1em;
  padding: 0.5em;
}

#references ul {
    font-size: 0.7em;
    padding: 0.5em;
    list-style-type: none;
}

#references li, a {
  line-height: 1.3em;
  text-decoration: none;
  color: #f2f2f2;
  line-height: 1.8em;
}

#references a {
    color:#9da65d;
}

hr {
  margin: 2em 0 2em 0;
}

#curiosity {
    display: flex;
    text-indent: 2em;
    max-width: 1000px;
    margin: auto;
    align-self: center;
}

#videos {
  display: flex;
  flex-direction: column;
}

#videos h3 {
  padding: 2em 0 2em 0;
}
#videos iframe {
  align-self: center;
}


footer {
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}